$font-family: 'WhyteInktrap-Book';

$breakpoint-mobile: 768px;
$breakpoint-desktop: 1024px;

$btn-color-home-mobile: #E8E8E8;
$btn-color-home-desktop: #8A2D2D;
$btn-color-subscribe: #F7EEE3;
$btn-color-shop: #FCED70;
$btn-text-color: #131313;

$color-white: #FFFFFF;
$color-black: #000000;
$bg-color-form: #514F4D;
$bg-color-footer: #131313;
$bg-color-conteiner: #F7EEE3;


$border-radius: 4px;



