$font-family: 'Inter';

$regular8: 0.5rem;
$regular10: 0.625rem;
$regular14: 0.875rem;
$regular16: 1rem;
$regular20: 1.25rem;

$medium24: 1.5rem;
$medium26: 1.625rem;
$medium30: 1.875rem;

$bold32: 2rem;
$bold40: 2.5rem;
$bold64: 4rem;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 500;
$font-weight-bold: 600;
$font-weight-extrabold: 700;