@use '../styles/abstracts/variables' as *;

.footer {
  display: flex;
  flex-direction: column;
  background-color: $bg-color-footer;
  color: $color-white;
  padding: 40px 15px;
  gap: 40px;
  @media (min-width: $breakpoint-desktop) {
    padding: 80px 15px;
  }
}
.footer-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 14px;
  padding-right: 50px;
  @media (min-width: $breakpoint-desktop) {
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
  }
}
.footer-section__title {
  padding: 6px 0;
}

.footer-copyright {
  width: 100%;
  @media (min-width: $breakpoint-desktop) {
    flex-direction: row;
    justify-content: space-between;
  }
}
.copyright__section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  @media (min-width: $breakpoint-desktop) {
    flex-direction: row;
    justify-content: space-between;
  }
}
.terms,
.address {
  font-size: 12px;
  line-height: 2;
  font-weight: 300;
}
