@use '../styles/abstracts/variables' as *;

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 18px 12px;
  @media (min-width: $breakpoint-desktop) {
    margin: 18px 24px;
  }
}
.navbar__home {
  position: relative;
}
.navbar__home-menu {
  display: flex;
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 0;
  background-color: $color-white;
  @media (min-width: $breakpoint-desktop) {
    flex-direction: row;
  }
}

.navbar__menu {
  display: none;
  @media (min-width: $breakpoint-desktop) {
    display: flex;
    gap: 20px;
  }
}
.navbar__menu button {
  border: none;
  background-color: transparent;
  align-items: center;
}

.icon-text {
  font-size: 0.9em;
  line-height: 1;
  transform: translateY(-4px);
}

.navbar__hamburger {
  display: block;
  border: none;
  cursor: pointer;
  font-size: 30px;
  background-color: transparent;
  @media (min-width: $breakpoint-desktop) {
    display: none;
  }
}

.navbar__mobile {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  top: 100%;
  right: 0%;

  button {
    background-color: transparent;
    cursor: pointer;
    text-align: right;
    padding: 5px;
    width: 100%;
    &:focus,
    &:active {
      border: 1px solid $color-black;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  @media (min-width: $breakpoint-desktop) {
    display: none;
  }
}
