@use '../styles/abstracts/variables' as *;

.product-details__section {
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.product-details__container {
    display: flex;
    flex-direction: column;
    @media (min-width:$breakpoint-desktop) {
        flex-direction: row;
        gap: 20px;
    }
}
.nomad-collection__title {
  font-size: 14px;
}
.dimensions__title h1 {
  font-size: 28px;
}
