$bg-color:#ffffff;
$bg-color__secundary: #f5f5f5;
$color__primary: #000000;
$color__secundary: #0064DA;
$line-color__horizontal:#DFDFDF;
$line-color__vertical:#b8b8b8;
$btn__border-color:#ECEBEB;
$rectangle: #C4C4C4;


$active-bg: #0064DA;
$active-color: #ffffff;
$active-border: #7B61FF; 

$defaut-bg: transparent;
$defaut-color: #000000;
$defaut-border: 1px solid #ECEBEB;

$inactive-bg: $color__primary;
$inactive-color: $bg-color;

$white-bg: $bg-color;
$white-color: $color__secundary;

$desktop: 1024px;